.page {
  margin: 20px 8%;
}

.article {
  padding: 5px 10%;
}

.article .article-window {
  margin: 40px auto;
}

.article .article-image {
  float: left;
  margin-right: 20px;
  width: 80px;
  height: 80px;
}
.article .article-data {
  float: left;
  margin: 5px 10px;
}

.article .article-label {
  margin: 5px 5px;
}

.article .article-title {
  text-align: left;
  margin-bottom: 5px;
}

.article .article-content {
  height: 118px;
  width: auto;
  overflow: hidden;
}