<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/FontAwesome/css/all.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />
  <title>Wuch's Blog</title>
</head>
<body>
  <!-- Header -->
  <div class="header">
      <h2 class="logo">WUCH</h2>
      <input type="checkbox" id="chk">
      <label for="chk" class="show-menu-btn">
      <i class="fas fa-ellipsis-h"></i>
      </label>

      <ul class="conv">
      <a class="home" href="/index.html">WUCH</a>
      <a class="knowledge" href="/Knowledge/index.html">集思广益</a></li>
      <a class="mind" href="/Mind/index.html">Break Brain Wall</a>
      <a class="hack" href="/Hack/index.html">黑客之道</a>
      <a class="Happiness" href="/Happiness/index.html">欢乐多更多</a>
      <a class="mirror" href="/Mirror/index.html">以人为镜</a>
      <a class="content" href="/Content/index.html">井井有条</a>
      <label for="chk" class="hide-menu-btn">
          <i class="fas fa-times"></i>
      </label>

      </ul>
  </div>

  <div class="section-box">
  </div>

</body>
</html>
