/* This is the stylesheet of index.html */
/* This CSS is created by DarkCode, their facebook: https://www.facebook.com/groups/704904666369941 */

*{
    margin: 0;
    padding: 0;
}

.header{
    height: 100px;
    background: #34495e;
    padding: 0 20px;
    color: #fff;
}

.logo{
    line-height: 100px;
    float: left;
}

.conv{
    line-height: 100px;
    float: right;
}

.conv a{
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.show-menu-btn, .hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.show-menu-btn{
    float: right;
}

.show-menu-btn i{
    line-height: 100px;
}

.conv a:hover, .show-menu-btn, .hide-menu-btn{
    color: #3498db;
}

#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

@media screen and (max-width:800px){
    .show-menu-btn, .hide-menu-btn{
        display: block;
    }

    .conv{
        position: fixed;
        width: 250px;
        height: 100vh;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }

    .conv a{
        display: block;
        padding: 20px;
    }

    .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #chk:checked ~ .conv{
        right: 0;
    }
}