/* this is the stylesheet of index.html */
/* all the stylesheet of index.html will be written down in here */


/*title*/
header{
    color: white;
    background: black;
    font-size: 45px;
    text-align:center;
}

/* */
/*.main{
    
}
*/

/*set the stylesheet of list*/
.conv{
    border: 1px dashed black;
    width: 100%;
    height: 50px;
    font-size: 15px;
    background-color: pink;
}

.conv a{
    width: 16%;
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    color:black;
}

.conv a:hover{
    text-decoration: underline;
    color:purple;
}

.conv a:visited{
    text-decoration: underline;
    color: purple;
}